In [2]:
import psycopg2
import pandas as pd
from getpass import getpass
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import text

In [6]:
#check_in:
pw = getpass('Please enter password: ')
with psycopg2.connect(
    host='localhost',
    port='5432',
    user='postgres',
    password='Datacraft',
    dbname='funfact_db',
    autocommit=True
) as connection:
    print("psycopg connected!")

## connection SQLAlchemy:
#pw = getpass('Please enter password: ')
#
#connection_url = f'postgresql://postgres:{pw}@localhost:5432/funfact_db'
#engine = create_engine(connection_url)
#
## check connection:
#with engine.connect() as conn_alchemy:
#    print("SQLAlchemy connected!")

ProgrammingError: invalid dsn: invalid connection option "autocommit"

In [4]:
data = pd.read_csv(r'C:\Users\Admin\Desktop\API_Projektwoche\src\Nice_to_have\spotify_songs.csv')
data.to_sql('spotify_songs', con=engine, if_exists='replace', index=False)
data
print("Daten erfolgreich eingelesen")

Daten erfolgreich eingelesen

In [5]:
select_artist ='SELECT track_artist as name from "spotify_songs"';

In [6]:
dataframe = pd.read_sql(select_artist, engine)
dataframe

                   name
0            Ed Sheeran
1              Maroon 5
2          Zara Larsson
3      The Chainsmokers
4         Lewis Capaldi
...                 ...
32828      Lush & Simon
32829    Tegan and Sara
32830       Starkillers
32831            Mat Zo
32832      Julian Calor

[32833 rows x 1 columns]

In [19]:
dataframe.to_sql("artist", engine)
print("Tabelle 'artist' wurde erstellt")

Tabelle 'artist' wurde erstellt